@model Victuz.Models.ActivityDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Activity.Name</h1>
@if (Model.AvailableSpots == 0)
{
    <div class="alert alert-warning">
        De activiteit is vol
    </div>
}

<div class="activity-details">
    <!-- Afbeelding sectie -->
    <div class="activity-image">
        <img src="~/image/victuz.png" alt="Victuz Activiteit afbeelding" />
    </div>

    <!-- Locatie en tijd sectie -->
    <div class="activity-info">
        <p><strong>Datum:</strong> @Model.Activity.DateTime?.ToString("dd-MM-yyyy")</p>
        <p><strong>Tijd:</strong> @Model.Activity.DateTime?.ToString("HH:mm")</p>
        <p><strong>Categorie:</strong> @Model.Activity.Category?.Name</p>
        <p><strong>Locatie:</strong> @Model.Activity.Location?.Name</p>
    </div>

    <!-- Beschrijving sectie -->
    <div class="activity-description">
        <h3><strong>Beschrijving</strong></h3>
        <p>@Model.Activity.Description</p>
    </div>

    <!-- Inschrijfknop en beschikbare plekken -->
    <div class="activity-registration">
        @if (Model.AvailableSpots > 0)
        {
            <p><strong>Beschikbare plekken:</strong> @Model.AvailableSpots</p>
        }

        @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
        {
            if (Model.IsRegistered)
            {
                <form asp-action="Unregister" asp-controller="Registrations" method="post">
                    <input type="hidden" name="activityId" value="@Model.Activity?.Id" />
                    <button type="submit" class="btn btn-danger">Uitschrijven</button>
                </form>
            }
            else if (Model.AvailableSpots > 0)
            {
                <form asp-action="Register" asp-controller="Registrations" method="post">
                    <input type="hidden" name="activityId" value="@Model.Activity?.Id" />
                    <button type="submit" class="btn btn-primary">Inschrijven</button>
                </form>
            }
            else
            {
                <p>Er zijn geen beschikbare plekken meer voor deze activiteit.</p>
            }
        }
        else
        {
            <p>Je moet ingelogd zijn als Member om je in te schrijven voor deze activiteit.</p>
        }
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
