@model IEnumerable<Victuz.Models.ActivityModel>

@{
    ViewData["Title"] = "Activiteiten";
}

<h1 class="text-center mt-4">Activiteiten Overzicht</h1>


<div class="d-flex justify-content-between mb-3">
    <a class="btn btn-primary" asp-action="Create">Nieuwe Activiteit Aanmaken</a>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary font-weight-bold">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                        <p class="card-text">
                            <span class="font-weight-bold">Beschrijving:</span>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">Datum:</span>
                            @item.DateTime.ToString("dd-MM-yyyy HH:mm")
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">Max. Deelnemers:</span>
                            @Html.DisplayFor(modelItem => item.MaxParticipants)
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">Categorieën:</span>
                            <ul class="list-unstyled mb-0">
                                @foreach (var category in item.Categories)
                                {
                                    <li>@category.Name</li>
                                }
                            </ul>
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">Locatie:</span>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </p>
                  
                      @if (User.IsInRole("BoardMember"))
                      {
                          <p class="card-text">
                              <span class="font-weight-bold">Organisator:</span>
                              @item.Organizer.FirstName @item.Organizer.LastName
                          </p>
                      }
                  <p>
                    <span class="font-weight-bold">Betaling:</span>
                    @if (item.PaymentType == "FreeForEverybody")
                    {
                        <p> Gratis </p>
                    }
                    else if (item.PaymentType == "FreeForMembers")
                    {
                        <p> Gratis voor leden </p>
                    }
                    else if(item.PaymentType == "Paid")
                    {
                        <p> Betaald </p>
                    }
                    else
                    {
                        <p> Geen info </p>
                    }
                  </p>  
                  
                  
                  
                  
                       
                  
                        <div class="d-flex justify-content-between mt-3">
                            <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-outline-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Bewerken</a>
                            @if (User.IsInRole("BoardMember"))
                            {
                                <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
