@model IEnumerable<Victuz.Models.ActivityModel>

@{
    ViewData["Title"] = "Search";
}



<form asp-controller="ActivityModels" asp-action="Search" method="post" class="d-flex flex-column" id="SearchForm">
    <div class="input-group mb-3">
        <input id="search-input" type="search" name="SearchQuery" class="form-control" placeholder="Zoek activiteiten op naam, locatie of categorie" />
        <button id="search-button" type="submit" class="btn btn-secondary">Zoeken</button>
    </div>

    <!-- Radio buttons horizontally aligned -->
    <div class="d-flex flex-wrap mb-3">
        <div class="form-check me-3">
            <input id="search-filter" type="radio" name="SelectedFilter" value="Everything" @(ViewBag.Filter == "Everything" ? "checked" : "") class="form-check-input" />
            <label for="search-filter" class="form-check-label">Alles</label>
        </div>

        <div class="form-check me-3">
            <input id="search-filter" type="radio" name="SelectedFilter" value="Name" @(ViewBag.Filter == "Name" ? "checked" : "") class="form-check-input" />
            <label for="search-filter" class="form-check-label">Naam</label>
        </div>

        <div class="form-check me-3">
            <input id="search-filter" type="radio" name="SelectedFilter" value="Location" @(ViewBag.Filter == "Location" ? "checked" : "") class="form-check-input" />
            <label for="search-filter" class="form-check-label">Locatie</label>
        </div>

        <div class="form-check me-3">
            <input id="search-filter" type="radio" name="SelectedFilter" value="Category" @(ViewBag.Filter == "Category" ? "checked" : "") class="form-check-input" />
            <label for="search-filter" class="form-check-label">Categorie</label>
        </div>

        <div class="form-check me-3">
            <input id="search-filter" type="radio" name="SelectedFilter" value="Description" @(ViewBag.Filter == "Description" ? "checked" : "") class="form-check-input" />
            <label for="search-filter" class="form-check-label">Beschrijving</label>
        </div>
    </div>
</form>
@if (Model != null)
{
    <div id="searchResults">
        @if (Model.Count() == 0)
        {
            <p> Geen activiteiten gevonden</p>
        }
        else
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naam
                    </th>
                    <th>
                        Beschrijving
                    </th>
                    <th>
                        Datum en tijd
                    </th>
                    <th>
                        Maximum deelnemers
                    </th>
                    <th>
                        Categorieën
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                                @item.DateTime.ToString("dd-MM-yyyy HH:mm")
                               
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxParticipants)
                        </td>
                        <td>
                            @foreach(var category in item.Categories)
                            {
                                @Html.DisplayFor(modelItem => category.Name)
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
    
    
}



