@model IEnumerable<Victuz.Models.ActivityModel>

@{
    ViewData["Title"] = "Search";
}



<form asp-controller="ActivityModels" asp-action="Search" method="post" class="d-flex" id="SearchForm">
    <input id="search-input" type="search" name="SearchQuery" class="form-control me-sm-2" placeholder="Zoek activiteiten op naam, locatie of categorie" />
    <button id="search-button" type="submit" class="btn btn-secondary my-2 my-sm-0"> Zoeken</button>
</form>
@if (Model != null)
{
    <div id="searchResults">
        @if (Model.Count() == 0)
        {
            <p> Geen activiteiten gevonden</p>
        }
        else
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naam
                    </th>
                    <th>
                        Beschrijving
                    </th>
                    <th>
                        Datum en tijd
                    </th>
                    <th>
                        Maximum deelnemers
                    </th>
                    <th>
                        Categorieën
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                               
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxParticipants)
                        </td>
                        <td>
                            @foreach(var category in item.Categories)
                            {
                                @Html.DisplayFor(modelItem => category.Name)
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
    
    
}



