@model List<Victuz.Models.ActivityModel>

@{
    ViewData["Title"] = "Home";
    var highlightActivity = ViewBag.HighlightActivity as Victuz.Models.ActivityModel;
}

<div class="homepage-container">
    <div class="highlight-activity mb-4">
        <div class="activity-image">
            <img src="~/image/victuz.png" alt="Meest Aankomende Activiteit" class="img-fluid">
        </div>
        @{
            string eventDetailsUrlmain = Url.Action("Details", "ActivityModels", new { id = highlightActivity.Id });
        }
        <a href="@eventDetailsUrlmain" class="activity-card-link">
            <div class="activity-info">
                <h1 class="display-4">Meest aankomende activiteit</h1>
                <h2>@highlightActivity.Name</h2>
                <p>@highlightActivity.Description</p>
                <p class="activity-date">@highlightActivity.DateTime?.ToString("g")</p>
            </div>
        </a>
    </div>

        <div class="activities-section col-md-6">
            <h3>Aankomende Activiteiten</h3>
            <div class="scrollable-activities">
                @{
                    if (Model != null && Model.Any())
                    {
                        foreach (var eventItem in Model)
                        {
                            string eventDetailsUrl = Url.Action("Details", "ActivityModels", new { id = eventItem.Id });
                            <a href="@eventDetailsUrl" class="activity-card-link">
                                <div class="activity-card mb-2">
                                    <div class="activity-card-content">
                                        <div class="activity-date">
                                            @eventItem.DateTime?.ToString("dd-MM-yyyy")
                                        </div>
                                        <div class="activity-details">
                                            <h4 class="activity-name">@eventItem.Name</h4>
                                            <p class="activity-description">@eventItem.Description</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <p>Nog geen activiteiten gepland. Check binnenkort nog eens om je in te schrijven voor de nieuwste activiteiten.</p>
                    }
                }
            </div>
        </div>
    </div>
</div>
